<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  "mainEntity": {
    "@type": "Person",
    "@id": "{{ site.url }}/#person",
    "name": "Marc David",
    "url": "{{ site.url }}/about/",
    "jobTitle": "Cybersecurity Analyst",
    "worksFor": {
      "@id": "{{ site.url }}/#organization"
    },
    "sameAs": [
      "https://x.com/{{ site.twitter_username }}",
      "https://github.com/{{ site.github_username }}",
      "https://linkedin.com/in/{{ site.linkedin_username }}",
      "https://www.youtube.com/{{ site.youtube_username }}"
    ]
  }
}
</script>
