<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": {% if site.nonprofit %}["NGO", "Organization"]{% else %}"Organization"{% endif %},
  "@id": "{{ site.url }}/#organization",
  "name": "ByteSizedSecurity",
  "url": "{{ site.url }}",
  "logo": {
    "@type": "ImageObject",
    "url": "{{ site.url }}/assets/img/bytesizedsecurity-logo-600x60.png",
    "width": 600,
    "height": 60
  },
  "description": "{{ site.description }}"{% if site.nonprofit %},
  "nonprofitStatus": "Nonprofit501c3"{% if site.ein %},
  "taxID": "{{ site.ein }}",
  "identifier": {
    "@type": "PropertyValue",
    "propertyID": "US-EIN",
    "value": "{{ site.ein }}"
  }{% endif %}{% if site.donate_url %},
  "potentialAction": {
    "@type": "DonateAction",
    "name": "Donate to ByteSizedSecurity",
    "target": "{{ site.donate_url }}",
    "recipient": { "@id": "{{ site.url }}/#organization" }
  }{% endif %}{% endif %},
  "sameAs": [
    "https://x.com/{{ site.twitter_username }}",
    "https://github.com/{{ site.github_username }}",
    "https://www.linkedin.com/in/{{ site.linkedin_username }}",
    "https://www.youtube.com/{{ site.youtube_username }}",
    "https://www.tiktok.com/{{ site.tiktok_username }}",
    "https://bytesizedsecurity.show/"{% if site.donate_url %},
    "{{ site.donate_url }}"{% endif %}
  ]
}
</script>
