<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "@id": "{{ site.url }}/#organization",
  "name": "ByteSizedSecurity",
  "url": "{{ site.url }}",
  "logo": {
    "@type": "ImageObject",
    "url": "{{ site.url }}/assets/img/bytesizedsecurity-logo-600x60.png",
    "width": 600,
    "height": 60
  },
  "description": "{{ site.description }}",
  "sameAs": [
    "https://x.com/{{ site.twitter_username }}",
    "https://github.com/{{ site.github_username }}",
    "https://linkedin.com/in/{{ site.linkedin_username }}",
    "https://www.youtube.com/{{ site.youtube_username }}",
    "https://bytesizedsecurity.show/"
  ]
}
</script>
