{% if page.howto %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "HowTo",
  "name": {{ page.howto.name | jsonify }},
  "description": {{ page.howto.description | jsonify }},
  "totalTime": "{{ page.howto.totalTime }}",
  "step": [{% for step in page.howto.steps %}
    {
      "@type": "HowToStep",
      "position": {{ forloop.index }},
      "name": {{ step.name | jsonify }},
      "text": {{ step.text | jsonify }}{% if step.url %},
      "url": "{{ step.url }}"{% endif %}
    }{% unless forloop.last %},{% endunless %}{% endfor %}
  ]
}
</script>
{% endif %}
